# PyTorch/PyG Core Libraries (GPU dependencies)
--extra-index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://data.pyg.org/whl/torch-2.2.0+cu121.html
numpy==1.26.4
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

# Application and Utility Libraries
streamlit
Pillow
openai
python-dotenv
matplotlib
tensorboardX
scipy
tqdm
ploty